.bg-light.card.collapse.disconnect-wallets.hide.mb-4.template
  .card-body
    h4.mb-3
      span.card-title Disconnect
      button.close.float-right(aria-label="Close", type="button")
        span(aria-hidden="true") &times;
    button.btn.btn-block.btn-lg.btn-outline-danger.disconnect
      i.fa-sign-out-alt.fas.mr-2
      | Disconnect Connected Wallet
