.bg-info.card.collapse.hide.mb-4.template.text-white.wallet-connected
  .card-body
    h4.card-title
      | Connected
      button.close.float-right(aria-label="Close", type="button")
        span(aria-hidden="true") &times;
    p.card-text
      | Hello Operator! Your node has been successfully connected. A new long
      | term connection code has been created for this session. Close the tab
      | or window to disconnect.
