.bg-light.card.collapse.hide.mb-2.template.text-center.wallet-balance
  .pb-2.pt-3
    .row
      .col
        span.node-name.text-muted
          i.fa-circle-notch.fa-spin.fas.loading-wallet-info
          span.node-alias
        h6.card-title.text-dark
          | 1
          | 
          span.currency
          | ~
          span.current-fiat-price ...
      .col
        .card-text.mb-0.text-muted Funds
        h6.card-title.mb-0.text-dark
          span.current-wallet-balance ...
          |
          |
          span.currency
          |
          | (
          span.fiat-equivalent ...
          | )
